name: UI Tests

on: [push]

jobs:
  test:
    runs-on: blacksmith-4vcpu-ubuntu-2204
    container:
      # Make sure to grab the latest version of the Playwright image
      # https://playwright.dev/docs/docker#pull-the-image
      image: mcr.microsoft.com/playwright:v1.52.0-noble
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: useblacksmith/setup-node@v5
        with:
          node-version-file: '.node-version'

      - name: Mount NPM Cache
        uses: useblacksmith/stickydisk@v1
        with:
          key: ${{ github.repository }}-npm-cache
          path: ~/.npm

      - name: Mount node_modules
        uses: useblacksmith/stickydisk@v1
        with:
          key: ${{ github.repository }}-node-modules
          path: ./node_modules

      - name: Install dependencies
        run: npm install

      - name: Prettier check
        run: npm run prettier:check

      - name: Run Storybook tests
        run: npm run test-storybook
